
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


html {
  /* background-color: #121212; */
  /* color: #ccc; */
  
  /* useful stuff but people assessing me may not like it */
  /* default texts size is the 1 a label or "weak-title" would have */
  /* font-size: max(12px, 62.5% + .3vw); */
  /* default texts size is the same I would give a paragraph */
  /* font-size: max(12px, 50% + .3vw); */
}
body {
  overflow-x: hidden;
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}










